body {
    font-family: 'Architects daughter';
    background-image: url('./floating-cogs.svg');
    background-blend-mode: overlay;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #DFDBE5;
     
}
.main-wrapper {
    border: 1px solid black;
    background-color: #e5e5e5;
    font-size: x-large;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 660px;
    height: 470px;
    border-radius: 60px;
}
.input-field {
    font-family: 'Cambria';
    height: 35px;
    width: 200px;
    text-align: center;
    font-size: 25px;
}
.search {
    display: flex;
    align-items: center;
}
h2 {
    margin: 8px;
    padding-top: 10px;
}
.result {
    padding-left: 40px;
}

@media only screen and (max-width: 600px) {
    .main-wrapper {
        width: auto;
        height: auto;
        margin: 0px 22px;
        padding: 15px 0px;
    }
    p {
        padding: 0px 20px 0px 25px;
        text-align: center;
    }
    .result {
        padding-left: 25px;
    }
}
